/* Kontener główny dla zawartości komórki, używa flexbox do wyrównania elementów */
.cell-content {
  display: flex;                      /* Ustawia model pudełkowy na flex, umożliwiając elastyczne pozycjonowanie dzieci */
  align-items: center;                /* Wyrównuje elementy dzieci względem siebie w pionie na środku */
  justify-content: flex-start;        /* Wyrównuje elementy dzieci na początku poziomego kontenera */
  width: 100%;                        /* Zapewnia, że kontener zajmuje całą dostępną szerokość */
}

/* Styl dla przycisku z ikoną, dodaje margines dla separacji od tekstu */
.mat-icon-button {
  margin-right: 8px;                  /* Dodaje margines po prawej stronie przycisku, aby oddzielić go od tekstu */
}

/* Styl dla span wyświetlającego tekst hasła lub jego ukrytą wersję */
.secret-span {
  display: inline-block;              /* Ustawia element span jako blok, który respektuje szerokości i marginesy */
  line-height: normal;                /* Ustawia normalną wysokość linii, zapewniając odpowiednią wysokość dla tekstu */
  min-width: 75px;                   /* Ustawia minimalną szerokość span, aby tekst miał stałą szerokość */
  text-overflow: ellipsis;            /* Dodaje "..." na końcu, gdy tekst przekracza dostępny obszar */
  overflow: hidden;                   /* Zapobiega wyświetlaniu treści poza zdefiniowanym obszarem */
  white-space: nowrap;                /* Zapobiega łamaniu tekstu do nowej linii, utrzymuje tekst w jednej linii */
}
