name: CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'spring/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'spring/**'
  workflow_dispatch:

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install Maven
        run: |
          sudo apt-get update
          sudo apt-get install -y maven
      - name: Validate and download dependencies
        run: mvn validate -f spring/pom.xml
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Cache source code
        uses: actions/cache@v3
        with:
          path: .
          key: ${{ runner.os }}-source-code-${{ hashFiles('**/*') }}
          restore-keys: |
            ${{ runner.os }}-source-code-
  run-tests:
    runs-on: ubuntu-latest
    needs: validation
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install Maven
        run: |
          sudo apt-get update
          sudo apt-get install -y maven
      - name: Run Tests
        run: mvn test -f spring/pom.xml